<h1>가입하숑</h1>
<form action="/question/sign_up_process">
이메일 : <input type="text" name="email"><br>
이름 : <input type="text" name="name"><br>
비밀번호 : <input type="password" name="password"><br>
<input type="submit">
</form>